<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/users.css" rel="stylesheet">
  <title>Add a IteM</title>
</head>
  <body>
    <%- include('../partials/navbar') %>
    <h1>Edit your account</h1>
  <main> 
    <form action="/users/<%= user._id %>/account?_method=PUT" method="POST">

      <label for="rating"id="profilePicture">fuck       you </label>
      <select name="rating" id="rating"></select>
      <% pic.forEach((pi)=>{ %> 
        <option value="<%=pi%>"><%=pi%></option>
    <% }) %>
      
      <section  id="topProfile">
        

        <label for="user-name">'<%= pic[0] %>': </label>
        <input type="text" name="name" id="user-name" value="<%= use[0]%>">
  
        <label for="user-name">Last name: </label>
        <input type="text" name="name" id="user-name" value="<%= use[1]%>"><br>
      </section>
      <section id="lowProfile">
        <label for="user-age">Age: </label>
        <input type="text" name="age" id="user-age" value="<%= user.age%>"><br>

        <label for="user-gender">gender: </label>
        <input type="text" name="gender" id="user-gender" value="<%= user.gender%>"><br>

        <label for="user-info">Info: </label>
        <textarea  name="info" id="user-info" rows="4" cols="30"><%= user.info%>"</textarea><br>
      </section>
  </main> 
    <button type="submit"> Submit</button>
    </form>
  
  </body>
</html>