<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/users.css" rel="stylesheet">
    <title>My Account</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <h1><%=users.username%></h1>
    <main> 
      <section id="topProfile" class="<%=users.account.picture%>">
      <div id="profilePicture" class="<%=users.account.picture%>"></div>
      <h3><%=users.account.name%></h3>
    </section>
    <section id="lowProfile">
        <ul>
          <% if (users.account.age) { %><li><span>Age- </span><%=users.account.age%></li><% } %>
          <% if (users.account.gender) { %><li><span>gender/pronouns-</span> <%=users.account.gender%></li><% } %>
          <% if (users.account.info) { %>
          <h4>-info-</h4>
            <li><%=users.account.info%></li>
            <% } %>
        </ul>
    </main>
  </section>
  <section id="lowButtons">
    <form action="/users/<%= users._id %>/account/edit" method="GET">
        <button type="submit">edit your account</button>
      </form>
      <form action="/users/<%= users._id %>/account?_method=DELETE" method="POST">
        <button type="submit">Delete your account</button>
      </form>
    </section>
  </body>
</html>