<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/users.css" rel="stylesheet">
    <title>My Account</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <h1><%=users.username%></h1>
    <main> 
      <section id="topProfile">
      <div id="profilePicture"></div>
      <h3><%=users.account.name%></h3>
    </section>
    <p >fuck</p>
    <section id="lowProfile">
        <ul>
          <h4>Age</h4>
            <li><%=users.account.age%></li>
          <h4>gender/pronouns</h4>
            <li><%=users.account.gender%></li>
          <h4>info</h4>
            <li><%=users.account.info%></li>
        </ul>
    </main>
  </section>
    <form action="/users/<%= users._id %>/account/edit" method="GET">
        <button type="submit">edit your account</button>
      </form>
      <form action="/users/<%= users._id %>/account?_method=DELETE" method="POST">
        <button type="submit">Delete your account</button>
      </form>
  </body>
</html>