<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet">
    <title>Users</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <h1>Your Task</h1>
    <main>
        <% if(task.length == 0){%>
            <p>There are no task</p>
            <%} else { %>
      <ul>
        <% task.forEach((tas)=>{ %>
            <li> <a href="/users/<%= tas.owner._id %>/task/<%=tas._id%>"><%=tas.name%></a></li>
            <% }) %>
      </ul>
      <% } %>
    </main>
    <form action="/users/<%= user._id %>/task/new" method="GET">
        <button type="submit">Add new task</button>
      </form>
  </body>
</html>