<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="/style/task.css" rel="stylesheet">
    <title>Users</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main id="taskMain">
      <h1>Your Task</h1>
      <ul>
        <% if(task.length == 0){%>
            <li>There are no task</li>
        <%} else {%>

        <h2>uncompleted task</h2>
        <%let i = 0; uTask.forEach((tas)=>{ %>
          <li id="li<%=(i % 2)%>"> <a href="/users/<%= tas.owner._id %>/task/<%=tas._id%>"><%=tas.name%></a></li>
          <%(i++)%>
        <% }) %>

        <h2>completed task</h2>
        <% cTask.forEach((tas)=>{ %> 
          <li id="li<%=(i % 2)%>"> <a href="/users/<%= tas.owner._id %>/task/<%=tas._id%>"><%=tas.name%></a></li>
          <%(i++)%>
        <% }) %>
      </ul>
      <% } %>
    </main>
    <form action="/users/<%= user._id %>/task/new"  method="GET">
        <button type="submit" id="newButton">Add new task</button>
      </form>
  </body>
</html>