<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="/style/task.css" rel="stylesheet">
    <title>show task</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main id="showMain">
      <h1>Task details</h1>
        <h2><%=task.name %></h2>
        <br>
        
        <p><%=task.description%></p>
        <br>
        <div id="showButtons">
        <form action="/users/<%= task.owner._id %>/task/<%=task._id%>/edit" method="GET">
          <button type="submit">edit this task</button> 
        </form>
        <form action="/users/<%= task.owner._id %>/task/<%=task._id%>?_method=DELETE" method="POST">
          <button type="submit">delete task</button> 
        </form>
      </div>
    </main>
    
  </body>
</html>