<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet">
    <title><%= user.username %>></title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <h1><%= user.username %> page</h1>
    <main>
      <section id="selUser">
      <ul>
      <% task.forEach((tas)=>{ %>
        <li><%=tas.name%></li>
        <div id="userTask">
        <li><%=tas.descrption%></li></div>
        <% }) %>
      </ul>
    </section>
    </main>
    
  </body>
</html>